.alien-bg {
min-height: 80vh;
display: flex;
justify-content: center;
align-items: center;
background: radial-gradient(circle at center, #0d0221, #02010a);
font-family: 'Press Start 2P', cursive;
color: #00ff9d;
text-shadow: 0 0 8px #00ff9d;
}


.alien-card {
background: rgba(0, 255, 157, 0.08);
border: 2px solid #00ff9d;
padding: 30px;
border-radius: 15px;
box-shadow: 0 0 25px #00ff9d;
width: 420px;
text-align: center;
backdrop-filter: blur(5px);
}


.alien-input {
width: 90%;
padding: 10px;
margin-top: 15px;
border: 2px solid #00ff9d;
background: transparent;
border-radius: 5px;
color: #00ff9d;
font-family: 'Press Start 2P', cursive;
font-size: 12px;
}


.alien-btn {
margin-top: 20px;
background: #00ff9d;
border: none;
padding: 12px 20px;
border-radius: 5px;
font-size: 12px;
cursor: pointer;
color: #02010a;
box-shadow: 0 0 15px #00ff9d;
}


.alien-btn:hover {
box-shadow: 0 0 25px #00ff9d;
}