{% extends 'base.html' %}
{% load static %}
{% block extra_styles %}
<link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/new_password.css' %}">
{% endblock %}

{% block content %}
<div class="alien-bg">
<form method="POST" class="alien-card">
{% csrf_token %}
<h2>NEW PASSWORD</h2>
<p style="font-size:10px;">ACCESS AUTHORIZATION REQUIRED</p>


<input type="password" name="password1" placeholder="ENTER PASSWORD" class="alien-input" required>
<input type="password" name="password2" placeholder="CONFIRM PASSWORD" class="alien-input" required>


<button type="submit" class="alien-btn">UPDATE</button>
</form>
</div>
{% endblock %}
